
body {
  /* text-align: center; */
  background: rgb(34,40,49);
  background: linear-gradient(90deg, rgba(34,40,49,1) 0%, rgba(13,17,41,0.9542191876750701) 82%);
  margin: 0 0;
  font-family: sans-serif;
}

#topContainer{
  display: flex;
  justify-content: space-between;
}

#titleColor{
  color: #00adb5;
}

#title{
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

#canvas {
  /* border: 2px solid black; */
  margin-bottom: 0;
  border: none;
}

#buttonContainer {
  margin-right: 5px;
  margin: 5px;
}

#algos{
  -webkit-appearance: none;
  padding: 18px 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #00adb5;
  border: none;
  font-weight: bold;
  color: white;
}

#sizeRange {
}

label {
  font-size: 1.2rem;
  color: white;
}

.button {
  text-decoration: none;
  padding: 20px 30px;
  background-color: #00adb5;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 10px;
  border: none;
}

#footer {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 5%;
  font-weight: bold;
  margin-top: 0;
}

.links{
  color: white;
}
