
body {
  text-align: center;
  margin: 0 0;
}

#canvas {
  background: gray;
}

.button {
  text-decoration: none;
  padding: 30px 40px;
  border-radius: 30px;
  background-color: gray;
  display: inline-block;
  color: white;
}
