
body {
  /* text-align: center; */
  background: rgb(34,40,49);
  background: linear-gradient(90deg, rgba(34,40,49,1) 0%, rgba(13,17,41,0.9542191876750701) 82%);
  margin: 0 0;
  font-family: sans-serif;
}

#topContainer{
  display: flex;
  justify-content: space-between;
}

#titleColor{
  color: #46b3e6;
}

#title{
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

#canvas {
  /* border: 2px solid black; */
  margin-bottom: 0;
  border: none;
}

#buttonContainer {
  margin-right: 5px;
  margin: 5px;
}

#algos{
  -webkit-appearance: none;
  padding: 7px 16px;
  margin-right: 10px;
  font-size: .8rem;
  border-radius: 4px;
  background-color: #3f72af;
  border: none;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.36);
}

label {
  font-size: 1rem;
  color: black;
}

.button {
  margin-right: 10px;
  text-decoration: none;
  padding: 7px 13px;
  background-color: #3f72af;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  display: inline-block;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.36);
}

#solve {
  background-color: #01d28e;
}

#footer {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 5%;
  font-weight: bold;
  margin-top: 0;
}

.links{
  color: white;
  text-decoration: none;
}

i {
  font-size: 2rem;
  color: #aaa9ad;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

#outer-title {
  color: #27496d;
}

select {
  text-align: center;
  text-align-last: center;
}

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
}
